body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background: #fdfdfd;
    color: #333;
}

header {
    position: sticky;
    top: 0;
    background: #222;
    color: #fff;
    padding: 2rem;
    text-align: center;
    z-index: 1000;
}


section {
    padding: 2rem;
    max-width: 1500px;
    margin: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.artwork {
    background: #fff;
    width: 700px;
    text-align: center;
}

    .artwork img {
        max-width: 100%;
        border-radius: 4px;
    }

footer {
    text-align: center;
    padding: 1rem;
    background: #222;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}
